body {
    background-color: #FFFAF0;
    color: #212B31;
}

.header{
    text-align: center;
    padding: 1rem;
}

.green {
    background-color: #D0F0C0;
}

.gray {
    background-color: #E5E4E2;
}

.purple {
    background-color: #C9A0DC;
}

.red {
    background-color: #F88379;
}

.yellow {
    background-color: #FFE5B4;
}

.background {
    background-color: #ADD8E6;
    padding-block: 5rem;
    padding-inline: 2.5rem;
    border-radius: 1rem;
    margin-inline: 10rem;
}

.li{
    padding-block: 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
    list-style: none;
    text-align: center;
}